<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/predict.css" type="text/css">
    <title>Car Resale Value Predictor</title>
</head>
<body>
    <section class="header">
        <nav>
            <a href="/"><img src="../static/Images/car2.jpg" width="100" height="100"></a>
        </nav>
        <div class="text-box">
            <h1>The Predicted Car Resale Value is </h1>
            
        <a href="../templates/value.html"><h1 id="hee">{{predict}}</h1></a>
          
          </div>
    </section>
</body>
</html>